
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	align-content:center;
	gap:0;
}
.holder>*{
	flex:0 0 auto;
	margin:0;
}